fastapi~=0.111.0
fastapi_pagination~=0.12.26
pydantic~=2.7.4
sqlalchemy~=2.0.31
mysqlclient~=2.2.4
mypy~=1.10.0
black~=24.4.2
isort~=5.13.2
pre-commit==3.6.0
sqlalchemy[mypy]

PyJWT~=2.8.0
passlib~=1.7.4
starlette~=0.37.2